
.CYAlert_DOM_OBJ{
    margin: 0;
    padding: 0;
}

/*蒙版*/
#CYAlert_bg{
    background: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}

/*分割线*/
#CYAlert_parting{
    width: 100%;
    height: 1px;
    background: #f6f6f6;
}


/*警告框背景*/
#CYAlert_content{
    position: fixed;
    background: #ffffff;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
}

/*内容字体*/
#CYAlert_title{
    font-size: 16px;
    color: black;
    margin: 15px;
}

/*底部按钮父盒子*/
#CYAlert_bottomBoxs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*按钮盒子*/
#CYAlert_bg .CYAlert_bottomBox{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#CYAlert_bg .CYAlert_bottomBox:hover{
    background: #e7e7e7;
}


/*按钮标题*/
#CYAlert_bg .CYAlert_bottomTitle{
    font-size: 16px;
    color: #6f9aff;
}

/*动图图片盒子*/
#CYAlert_imgsBox{
    width: 30px;
    height: 30px;
    margin: 10px auto;
}